<div data-sly-use.header="my.retail.core.models.Header">
<script type="text/javascript">
	var digitalData = {
		"page": {
			"pageInfo": {
				"breadcrumbs": "luma:us:en",
				"pageName": "content:luma:us:en",
				"destinationURL": "https://luma.enablementadobe.com/content/luma/us/en.html",
				"isIframe": false,
				"contentIframe": false,
				"hierarchie1": "luma:us:en",
				"title": "Luma: An Adobe demo brand",
				"internalPageName": "en",
				"pageID": "luma.enablementadobe.com:content:luma:us:en",
				"tagging": "",
				"server": "luma.enablementadobe.com",
				"urlShortcut": ""
			},
			"category": {
				"type": ":conf:we-retail:settings:wcm:templates:hero-page",
				"version": "2019-11-21"
			},
			"attributes": {},
			"components": []
		},
		"product": [{
			"productInfo": {}
		}],
		"cart": {
			"productsInCart": 3,
			"orderId": "cb465f3d-70f4-4c1f-aa0a-52fcb198919a",
			"cartAmount": "131.00",
			"cartEntries": [{
					"qty": "1",
					"sku": "LLMH12.1-S",
					"title": "Ajax Full-Zip Sweatshirt (Blue / S)",
					"formattedPrice": "$69.00",
					"price": "69.00"
				},
				{
					"qty": "1",
					"sku": "LLMT09.1-S",
					"title": "Sinbad Fitness Tank - (Blue / S)",
					"formattedPrice": "$29.00",
					"price": "29.00"
				},
				{
					"qty": "1",
					"sku": "24-WB06",
					"title": "Endeavor Daytrip Backpack",
					"formattedPrice": "$33.00",
					"price": "33.00"
				}
			]
		},
		"user": [{
			"profile": [{
				"profileInfo": {},
				"attributes": {
					"loggedIn": ${ !header.isAnonymous @ context='scriptToken' },
					"userId": "${ header.isAnonymous || header.isModerator ? header.anonymousId : header.userId @ context='scriptToken' }",
					"username": "NguyenThaiSon@gmail.com"

				}
			}]
		}],
		"pageInstanceID": "s7connect:nosamplecontent:publish:content:luma:us:en",
		"language": "en"
	};
</script>
</div>