# Configuration created by Apache Sling JCR Installer
name="Adobe\ Launch"
auth.token.provider.keypair.alias="my-retail-ims-public-key"
auth.token.provider.default.claims=("\"iss\"\ :\ \"8FB149525769B7687F000101@AdobeOrg\"","\"sub\"\ :\ \"FEDB55D65DDF79460A495EE8@techacct.adobe.com\"","\"https://ims-na1.adobelogin.com/s/ent_reactor_sdk\"\ :\ true","\"aud\"\ :\ \"https://ims-na1.adobelogin.com/c/89cfb685ed0141e3b0f48823c7783faf\"")
auth.access.token.request="https://ims-na1.adobelogin.com/ims/exchange/jwt"
auth.token.provider.client.id="89cfb685ed0141e3b0f48823c7783faf"
token.request.customizer.type="imsconsole-3ad27863-fa26-4738-a708-fe33ff285934"
auth.token.validator.type="imsconsole-ece5659e-b05c-4682-b98d-d4a9a02c8bd5"
auth.token.provider.endpoint="https://ims-na1.adobelogin.com"
auth.token.provider.title="Adobe\ Lauch\ API\ Access"
